In [2]:
import pandas as pd
import numpy as np

np.random.seed(42)

data = {
    'EmployeeID': range(101, 121),
    'Age': [25, 28, 32, 45, 41, 38, np.nan, 29, 34, 36, 40, 22, 27, 30, np.nan, 33, 44, 39, 26, 31],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'Marketing', 'Finance', 'IT', 'HR', 
                   'Finance', 'IT', 'Marketing', 'Finance', np.nan, 'HR', 'IT', 
                   'Finance', 'IT', 'Marketing', 'HR', np.nan],
    'ExperienceYears': [1, 3, 5, 10, np.nan, 7, 9, 2, 4, np.nan, 12, 1, 6, 3, 5, np.nan, 8, 11, 2, 4],
    'TrainingHours': [15, 20, np.nan, 40, 25, 35, 18, np.nan, 22, 28, 30, 12, 17, 24, 26, 33, np.nan, 29, 21, 23],
    'SkillScore': [70, 76, 80, 90, np.nan, 85, 88, 72, 78, 92, 95, 68, np.nan, 74, 82, 87, 91, np.nan, 77, 79],
    'PerformanceRating': [3, 4, 4, 5, np.nan, 4, 5, 3, np.nan, 5, 5, 2, 3, 4, np.nan, 4, 5, 4, 3, 4]
}

df_lab = pd.DataFrame(data)
df_lab

,EmployeeID,Age,Department,ExperienceYears,TrainingHours,SkillScore,PerformanceRating
0,101,25.0,IT,1.0,15.0,70.0,3.0
1,102,28.0,HR,3.0,20.0,76.0,4.0
2,103,32.0,Finance,5.0,NaN,80.0,4.0
3,104,45.0,IT,10.0,40.0,90.0,5.0
4,105,41.0,Marketing,NaN,25.0,NaN,NaN
5,106,38.0,Finance,7.0,35.0,85.0,4.0
6,107,NaN,IT,9.0,18.0,88.0,5.0
7,108,29.0,HR,2.0,NaN,72.0,3.0
8,109,34.0,Finance,4.0,22.0,78.0,NaN
9,110,36.0,IT,NaN,28.0,92.0,5.0
10,111,40.0,Marketing,12.0,30.0,95.0,5.0
11,112,22.0,Finance,1.0,12.0,68.0,2.0
12,113,27.0,NaN,6.0,17.0,NaN,3.0
13,114,30.0,HR,3.0,24.0,74.0,4.0
14,115,NaN,IT,5.0,26.0,82.0,NaN
15,116,33.0,Finance,NaN,33.0,87.0,4.0
16,117,44.0,IT,8.0,NaN,91.0,5.0
17,118,39.0,Marketing,11.0,29.0,NaN,4.0
18,119,26.0,HR,2.0,21.0,77.0,3.0
19,120,31.0,NaN,4.0,23.0,79.0,4.0


### **LAB QUESTIONS (12 Tasks)**

 Participants must use **Pandas** to solve these questions.
They will use the dataset `df_lab`.

---

### Section A: Basic Exploration**

### **1Ô∏è‚É£ Display the first 7 rows and the last 5 rows.**

*Hint: Use `.head()` and `.tail()`.*

### **2Ô∏è‚É£ Print the summary of all column datatypes and missing values.**

*Hint: `.info()`, `.isnull().sum()`.*

### **3Ô∏è‚É£ Show descriptive statistics for numerical columns.**

*Hint: `.describe()`.*

---

### Section B: Cleaning & Missing Value Handling**

### **4Ô∏è‚É£ Identify which 3 columns have the highest number of missing values.**

### **5Ô∏è‚É£ Fill missing values in:**

* `Age` ‚Üí with mean
* `Department` ‚Üí with mode
* `TrainingHours` ‚Üí with median

*(Participants decide correct Pandas method.)*

### **6Ô∏è‚É£ Remove rows where both `SkillScore` AND `PerformanceRating` are missing.**

---

### Section C: Column Operations**

### **7Ô∏è‚É£ Create a new column: `TrainingEfficiency` = SkillScore / TrainingHours.**

### **8Ô∏è‚É£ Create another column: `Category`**

Rules:

* If `PerformanceRating` ‚â• 4 ‚Üí ‚ÄúHigh‚Äù
* Else ‚Üí ‚ÄúLow‚Äù

*(Use `np.where()` or `apply()`.)*

---

#### Section D: Filtering & Sorting**

### **9Ô∏è‚É£ Filter employees who:**

* Work in **IT**
* Have **SkillScore > 85**
* Have **ExperienceYears ‚â• 5**

*(Multiple conditions required.)*

### **üîü Sort the dataset by `ExperienceYears` (descending) and `SkillScore` (ascending).**

---

### Section E: Grouping & Aggregation**

### **1Ô∏è‚É£1Ô∏è‚É£ Compute the average:**

* SkillScore by Department
* PerformanceRating by Department

*(Use `.groupby()`.)*

---

####  Section F: Final Step**

### Save the cleaned dataset as `Employee_Cleaned.csv`.**

---